/* enm - RELATIVE, depends on parent
 1em - 16px default browswer style
 1em - base value (16px) . number (1) = 16px
 2em - base value (16px) . number (2) = 32px
 2em = base value (10px) . number (2) = 20px */
 div{
    /* font-size: 16px; */
    /* Now our parent element is div and in div we set font-size:16/10/20 any value and then our child element inherits these values multiple by em unit */
    font-size: 10px;
 }
 .absolute{
    font-size: 32px;
    color: rgb(255, 113, 137);
 }
 .relative{
    font-size: 2em;
    color: rgb(87, 207, 255);
 }