/* CSS Box Model */
/* Border */
*{
    margin: 0;
}
h2,p{
    color: #fff;
}
h2{
    background-color: #ff3254;
    padding: 30px;
    margin: 3rem;
    /* border-style: solid;
    border-width: 10px;
    border-color: #3dff07; */
    border-bottom: 0.5rem dotted rgb(12, 189, 12);
    border-bottom-style: double;
    border-bottom-color: blue;
    border-block-width: 20px;
}
p{
    background-color: rgb(42, 195, 255);
    border: 1rem dashed rgb(255, 26, 37) ;
    /* margin: 20px 40px; */
    margin: 10px 20px 30px 40px;
    /* padding: 50px; */
    /* padding: 30px 50px; */
    padding: 5px 20px 40px 30px;
}