/* CSS Color values by HEX (#) */

#heading1{
    color: #ff0000;
    background-color: #99ff00;
}
#heading2{
    color: #ffb700cc;
    background-color: #315200;
}
#heading3{
    color: #33ff00;
    background-color: #ff0000;
}
#heading4{
    color: #00d5ff;
    background-color: #3b6300;
}
#heading5{
    color: #ff003c;
    background-color: #162303;
}