/* 
CSS VARIABLES AKA CUSTOM PROPERTIES
allow to store value in one place and re-use it later
--variable::-ms-value
property:var(--varName);
scope
:root{} === global
element === local
any property
*/
:root{
    --primaryColor:#254af1;
    --cl-secondary:purple;
    --mainTransition:all 2s linear;
    --mainSpacing:5px;
}
h1{
    color: var(--primaryColor);
}
h2{
    color: var(--primaryColor);
}
h3{
    color: var(--primaryColor);
    transition: var(--mainTransition);
}
p{
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
}
h3:hover{
    color: var(--cl-secondary);
}
p:hover{
    color: var(--cl-secondary);
}
div{
    --primaryRed : red;
}
.main-text{
    color: var(--primaryRed);
}
h3{
    color: var(--primaryRed);
}