body{
    background-color: #f1f5f9;
}
.container{
     background-color: #fff;
}
.container h3{
    color: #645cff;
}
.container p{
    color: #64748b;
}
.special-container{
    background-color: rgba(0, 0, 0, 0.9);
}