*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}
.container{
    border: 5px solid #000;
}
.cell{
    padding: 2rem;
    background: #e4bbbb;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 1px solid red;
}